/* FONT FAMILY */
/* font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; */
html {
  height: 100vh;
  padding: 0;
}

body {
  font-family: "Montserrat";
  text-align: center;
  background-color: #fff;
  min-height: 400px;
  margin-bottom: 70px;
  margin-top: 100px;
  clear: both;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1rem;
  font-weight: normal;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  color: #8f8f8f;
}

/* Navbar */
.navbar-brand {
  font-size: 1.5rem;
}

.nav-link {
    padding: 0rem 1rem;}

.boton {
  text-align: center;
}

/* Portada */
#portada {
  padding: 5% 7%;
}

.imagen-portada {
  margin: 3%;
  height: 20rem;
  width: 20rem;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.imagen-portada:hover {
  opacity: 0.5;
}

.hover-text {
  background-color: #fff;
  border-radius: 0;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.hover-text:hover {
  opacity: 0.5;
}

@media (min-width: 1440px) {
  .navbar-brand {
    font-size: 2rem;
  }


  .imagen-portada {
    margin: 3%;
    height: 25rem;
    width: 25rem;
  }
}

.iconos {
  font-size: 1.1rem;
  padding: 10px;
}


@media (max-width: 720px) {

  .imagen-portada {
    height: 12rem;
    width: 12rem;
  }

  .iconos {
    font-size: 1.7rem;
    padding: 10px;
  }

  body {
    margin-top: 50px;
    margin-bottom: 100px;
  }
}



/* Footer */
#footer {
  /* position: absolute;
  right: 0;
  bottom: 0;
  left: 0; */
  background-color: #f8f9fa;
  text-align: center;
}


.copy-footer {
  margin-bottom: 0;
  font-size: 0.8rem;
}

/* ************************************** PULSERAS ***************************************** */

/* Portada */

.body-portada {
    margin-top: 100px;
}

.titulo-pulseras {
  padding: 1% 0;
  color: black;
  font-weight: lighter;
}

a {
  font-family: "Montserrat";
  text-align: center;
  color: black;
}

.ig-image {
  width: 270px;
  height: 270px;
  margin-top: 10px;
}

/*
* @subsection Shop
*/
.product {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

.product .caption {
  margin-top: 15px;
}

.product .caption h6 {
  color: #455a64;
}

.product .caption .price + .price {
  margin-left: 15px;
}

.product.tumbnail {
  box-shadow: 0 5px 25px 0 transparent;
  transition: 0.3s linear;
  padding-top: 0;
}

.product.tumbnail img:hover {
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
}

.single-product span {
  display: inline-block;
}

.single-product .rating .fa-star, .single-product .rating .fa-star-o {
  font-size: 16px;
  color: #f7d4a0;
  margin-left: 2px;
}

.single-product .rating + * {
  margin-left: 15px;
}

.single-product h1.h1-variant-2 {
  margin-bottom: 20px;
}

.single-product .caption:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.single-product .caption span {
  display: inline-block;
  vertical-align: middle;
}

.single-product .caption .price {
  font-weight: 400;
}

.single-product .caption .price.sale {
  color: #e75854;
  font-size: 33px;
}

.single-product .caption * + .price {
  margin-left: 10.8%;
}

@media (max-width: 1199px) {
  .single-product .caption * + .price {
    margin-left: 7.8%;
  }
}

.single-product .caption * + .quantity {
  margin-left: 26px;
}

.single-product .caption .info-list {
  border-bottom: 1px solid #f3f3ed;
  border-top: 1px solid #f3f3ed;
  font-family: Montserrat, sans-serif;
  padding-top: 26px;
  padding-bottom: 26px;
  text-align: left;
}

.single-product .caption .info-list dt, .single-product .caption .info-list dd {
  display: inline-block;
  line-height: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.single-product .caption .info-list dt {
  letter-spacing: 0.08em;
  font-size: 12px;
  color: #a7b0b4;
  width: 35%;
  text-transform: uppercase;
}

.single-product .caption .info-list dd {
  font-size: 15px;
  color: #565452;
  width: 62.5%;
}

.single-product .caption .share span.small {
  margin-top: 9px;
}

@media (max-width: 991px) {
  .single-product .caption .share span.small {
    display: block;
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .single-product .table-mobile tr {
    padding-top: 0;
  }
  .single-product .table-mobile tr:before {
    display: none;
  }
}

.price {
  display: inline-block;
  font-size: 15px;
  font-family: Montserrat, sans-serif;
  letter-spacing: 0.02em;
  color: black;
}

.price.sale {
  color: #e75854;
}

.price del {
  color: #b0bec5;
}

.quantity {
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  background: #eceff1;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 82px;
  height: auto;
  display: inline-block;
}

.quantity span {
  display: inline-block;
}

.quantity .num {
  width: 26px;
}

.quantity [class*='fa-'] {
  padding-top: 4px;
  width: 22px;
  padding-bottom: 4px;
  color: #b0bec5;
  cursor: pointer;
}

.quantity [class*='fa-']:hover {
  color: #455a64;
}
